# Byte-compiled / optimized / DLL files
__pychache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm stuff:
.idea/

# Vim stuff:
*.swp

# Information files
*.txt
*.csv

# Weight files
models/weights/*
*.h5

# Data files
*.npy
*.wav
*.mp4
*.jpg

# Temporal files
*.log
.fuse*
nohup.out
!/**/.gitkeep
backup/
output/
